#s1{
    color: rgb(100, 212, 71);
}

#child1{
    color: rgb(71, 212, 205);
    font-size: 19px;
}

#child2{
    color: rgb(109, 71, 212);
    font-size: 19px;
}

#child3{
    color: rgb(161, 21, 115);
    font-size: 19px;
}

#child4{
    color: rgb(200, 71, 212);
    font-size: 19px;
}

#child5{
    color: rgb(212, 191, 71);
    font-size: 19px;
}

#child6{
    color: rgb(16, 43, 48);
    font-size: 19px;
}

#child7{
    color: rgb(80, 20, 77);
    font-size: 19px;
}

#child8{
    color: rgb(167, 168, 112);
    font-size: 19px;
}

#child9{
    color: rgb(231, 142, 24);
    font-size: 19px;
}

#child10{
    color: rgb(224, 102, 20);
    font-size: 19px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.child{
    flex-grow: 1;
    width: 100px;
    height: 100px;
}
