#s1{
    color: rgb(100, 212, 71);
}

#child1{
    color: rgb(71, 212, 205);
}

#child2{
    color: rgb(109, 71, 212);
}

#child3{
    color: rgb(161, 21, 115);
}

#child4{
    color: rgb(200, 71, 212);
}

#child5{
    color: rgb(212, 191, 71);
}

#child6{
    color: rgb(16, 43, 48);
}

#child7{
    color: rgb(80, 20, 77);
}

#child8{
    color: rgb(167, 168, 112);
}

#child9{
    color: rgb(231, 142, 24);
}

#child10{
    color: rgb(224, 102, 20);
}

