#s1{
    color: rgb(100, 212, 71);
}

#child1{
    background-color: rgb(71, 212, 205);
   
}

#child2{
    background-color: rgb(109, 71, 212);
}
   

#child3{

    background-color: rgb(161, 21, 115);
   
}

#child4{
    background-color: rgb(200, 71, 212);
    
}

#child5{
    background-color: rgb(212, 191, 71);
    
}

#child6{
    background-color: rgb(105, 47, 214);
    
}

#child7{
    background-color: rgb(80, 20, 77);
}
    

#child8{
    background-color: rgb(167, 168, 112);
    
}

#child9{
    background-color: rgb(231, 142, 24);
}

#child10{
    background-color: rgb(224, 102, 20);
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.child{
    flex-grow: 1;
    width: 100px;
    height: 100px;
}

.letter{
    font-size: 19px;
    color: white;
}
